<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mixed Lyrics - Search</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <form action="search" method="get">
        <input type="text" name="search_param" class="form-control" placeholder="Search">
        <button type="submit" class="btn btn-primary center-block" >Transfer cash</button>
    </form>
</div>
</body>
</html>