<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mixed Lyrics - Search</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<div class="high-padding primary-background">
    <div>
        <div class="primary-color white text-center">
            <h1>Mixed Lyrics Search</h1>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 20px; margin-bottom: 40px;">
    <form action="search" method="get">
        <div class="row text-center">
            <div class="col-sm-12 col-md-5 col-lg-5">
                Search <input type="text" name="search_param"
                              class="form-control">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                Artist <input type="text" name="artist" class="form-control">
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                Album/Movie <input type="text" name="album"
                                   class="form-control">
            </div>
            <div class="col-sm-12 col-md-1 col-lg-1">
                <br/>
                <button type="submit" class="btn btn-primary center-block">
                    Search
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>